<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="https://unpkg.com/vue@3"></script>
</head>
<body>

    <div id='app'>
        <div class="nav-bar"></div>
        <div class="product-container">
            <div class="product-inner">
                <div class="product-cart">Cart({{ cartShow }})</div>
                <div class="product-image">
                    <!-- <img v-bind:src="image" alt=""> -->

                    <!-- shorthand -->
                    <img :src="image" alt="">
                </div>
                <div class="product-info">
                    <h1>{{ product }}</h1>

                    <!-- If-else condition -->
                    <!-- <p v-if="inStock">In stock</p>
                    <p v-else>Out of Stocks</p> -->

                    <!-- Show/hide -->
                    <p v-show="inStock">In stock</p>

                    <!-- if/else conditional -->
                    <p v-if="inventory > 10">In stock</p>
                    <p v-else-if="inventory <= 10 && inventory > 0">alots of stocks </p>
                    <p v-else>Out of Stocks</p>

                    <ul>
                        <li v-for="detail in details">{{ detail }}</li>
                    </ul>

                    <ul>
                        <li v-for="variant in variants" :key="variant.id" @mouseover="updateImage(variant.img)">{{ variant.id + ': ' + variant.color }}</li>
                    </ul>

                    <!-- <a class="btn_primary" :href="href">Add To Cart</a> -->
                    <!-- <div class="btn_add-to-cart btn_primary" v-on:click="addToCart">Add To Cart</div> -->
                    <div class="group-button">
                        <button class="btn_number descrease" @click="descreaseCart()">-</button>
                        <span>{{ cart }}</span>
                        <button class="btn_number increase" @click="increaseCart()">+</button>
                    </div>
                    <div class="btn_add-to-cart btn_primary" @click="addToCart">Add To Cart</div>
                </div>
                
            </div>
        </div>
    </div>

<script src="assets/js/script.js"></script>
<script>
    const mountedApp = app.mount('#app');
  </script>
</body>
</html>